<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PRODUCTS :: Validation</title>
</head>
<body>
<h1>Validation - Products</h1>
<h6><a href="/">main</a></h6>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>PRICE</th>
    <th>QUANTITY</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${productPort}" th:object="${product}">
    <td><a th:href="|/validation/${version}/productPort/*{id}|" th:text="*{id}">ID</a></td>
    <td th:text="*{name}">NAME</td>
    <td th:text="*{price}">PRICE</td>
    <td th:text="*{quantity}">QUANTITY</td>
  </tr>
  </tbody>
</table>
<div>
  <a th:href="|/validation/${version}/productPort/register|">
    <button>register</button>
  </a>
</div>
</body>
</html>
