<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign Up :: Item Login Application</title>
  <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<header>
  <h1>Sign In</h1>
</header>
<main>
  <form th:action method="post" th:object="${payload}">
    <table>
      <tr th:if="${#fields.hasGlobalErrors()}">
        <td colspan="2">
          <p th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
        </td>
      </tr>
      <tr>
        <th>Username</th>
        <td>
          <label>
            <input type="text" th:field="*{username}">
          </label>
          <p class="error" th:errors="*{username}"></p>
        </td>
      </tr>
      <tr>
        <th>Password</th>
        <td>
          <label>
            <input type="password" th:field="*{password}">
          </label>
          <p class="error" th:errors="*{password}"></p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="button-group">
            <input type="button" value="cancel">
            <input type="submit" value="Sign In">
          </div>
        </td>
      </tr>
    </table>
  </form>
</main>
</body>
</html>
