<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Items</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>

<body>
  <h1>Items</h1>

  <nav>
    <form method="get" th:object="${payload}">
      <label>
        <input type="text" th:field="*{input}" placeholder="name">
      </label>
      <label>
        <input type="number" th:field="*{minPrice}" placeholder="min price">
      </label>
      <label>
        <input type="number" th:field="*{maxPrice}" placeholder="max price">
      </label>
      <label>
        <input type="submit">
      </label>
    </form>
    <button onclick="location.href = '/items/register'">register item</button>
  </nav>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>PRICE</th>
      <th>QUANTITY</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}" th:object="${item}">
      <td
        th:text="*{id.value}"
        th:onclick="|location.href = '/items/@{*{id.value}}'|"
        class="id-data"
      >
        ID
      </td>
      <td th:text="*{name}">NAME</td>
      <td th:text="*{price}">PRICE</td>
      <td th:text="*{quantity}">QUANTITY</td>
    </tr>
    </tbody>
  </table>
</body>

</html>
