<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="|#{page.register} - message|">REGISTER PRODUCT</title>
</head>
<body>
<form method="post" th:action="|/message/products/register|" th:object="${product}">
  <table>
    <tr>
      <th th:text="#{label.product.name}">NAME</th>
      <td>
        <label>
          <input type="text" th:field="*{name}">
        </label>
      </td>
    </tr>
    <tr>
      <th th:text="#{label.product.price}">PRICE</th>
      <td>
        <label>
          <input type="number" th:field="*{price}">
        </label>
      </td>
    </tr>
    <tr>
      <th th:text="#{label.product.quantity}">QUANTITY</th>
      <td>
        <label>
          <input type="number" th:field="*{quantity}">
        </label>
      </td>
    </tr>
    <tr>
      <th><input type="submit" th:value="#{button.register}"></th>
      <th><input type="button" th:value="#{button.cancel}" onclick="location.href='/message/products'"></th>
    </tr>
  </table>
</form>
</body>
</html>
