<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>comment - Thymeleaf</title>
  <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<div>
  <table>
    <caption>Comment</caption>
    <thead>
    <tr>
      <th>DESCRIPTION</th>
      <th>SYNTAX</th>
      <th>RESULT</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>inline comment</th>
      <th><code>&lt;!--/* [[${data}]] */--&gt;</code></th>
      <td><!--/* [[${data}]] */--></td>
    </tr>
    <tr>
      <th>multi line comment</th>
      <th><code>&lt;!--/*--&gt; [[${data}]] &lt;!--*/--&gt;</code></th>
      <td><!--/*--> [[${data}]] <!--*/--></td>
    </tr>
    <tr>
      <th>prototype comment</th>
      <th><code>&lt;!--/*/ [[${data}]] /*/--&gt;</code></th>
      <td><!--/*/ [[${data}]] /*/--></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
