<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item update</title>
</head>
<body>
<h1>Item Update</h1>

<h6><a href="/">main</a></h6>

<form method="POST" th:action="|/items/update/${item.id}|" th:object="${item}">
  <table>
    <tr>
      <th>ID</th>
      <td>
        <label>
          <input type="text" th:field="*{id}" readonly disabled>
          <input type="hidden" th:field="*{id}">
        </label>
      </td>
    </tr>
    <tr>
      <th>NAME</th>
      <td>
        <label>
          <input type="text" th:field="*{name}">
        </label>
      </td>
    </tr>
    <tr>
      <th>PRICE</th>
      <td>
        <label>
          <input type="number" th:field="*{price}">
        </label>
      </td>
    </tr>
    <tr>
      <th>QUANTITY</th>
      <td>
        <label>
          <input type="number" th:field="*{quantity}">
        </label>
      </td>
    </tr>
    <tr>
      <th>OPEN</th>
      <td>
        <label>
          <input type="checkbox" th:field="*{open}"> open
        </label>
      </td>
    </tr>
    <tr>
      <th>REGIONS</th>
      <td>
        <label th:each="region : ${regions}">
          <input type="checkbox" th:field="*{regions}" th:value="${region.key}">
          [[${region.value}]]
        </label>
      </td>
    </tr>
    <tr>
      <th>ITEM TYPE</th>
      <td>
        <label th:each="itemType : ${itemTypes}">
          <input type="radio" th:field="*{itemType}" th:value="${itemType.name()}">
          [[${itemType.description()}]]
        </label>
      </td>
    </tr>
    <tr>
      <th>DELIVERY CODE</th>
      <td>
        <label>
          <select th:field="*{deliveryCode}">
            <option value="">=== 배송 방식 선택 ===</option>
            <option
              th:each="deliveryCode : ${deliveryCodes}"
              th:value="${deliveryCode.code}"
              th:text="${deliveryCode.displayName}">
            </option>
          </select>
        </label>
      </td>
    </tr>
    <tr>
      <th><input type="submit" value="update"></th>
      <th><button onclick="@{|location.href='/items/*{id}'|}">cancel</button></th>
    </tr>
  </table>
</form>
</body>
</html>
