<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Home :: Item Login Application</title>
  <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>
<header>
  <h1>Home</h1>
  <h3>Hello <span th:text="${member.username}"></span></h3>
</header>

<main>
  <table>
    <tbody>
    <tr>
      <td>
        <button th:onclick="|location.href='@{/items}'|">Items</button>
      </td>
      <td>
        <button th:onclick="|location.href='@{/logout}'|">Logout</button>
      </td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>
