* {
  margin: 0;
  padding: 0;
}

header > h1 {
  margin: 1rem;
  text-align: center;
}

main table {
  margin: auto;
}

main table td > button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.error {
  color: red;
  border-color: red;
}

th, td {
  padding: 0.7rem;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.button-group > * {
  display: block;
  padding: 0.7rem;
}
