<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>item save</title>
</head>
<body>
<h1>Item Save</h1>

<h6><a href="/">main</a></h6>

<form method="POST">
    <table>
        <tr>
            <th>NAME</th>
            <td><input name="name" type="text"></td>
        </tr>
        <tr>
            <th>PRICE</th>
            <td><input name="price" type="number"></td>
        </tr>
        <tr>
            <th>QUANTITY</th>
            <td><input name="quantity" type="number"></td>
        </tr>
        <tr>
            <th><input type="submit"></th>
            <td><input type="button" value="cancel" onclick="location.href='/'"></td>
        </tr>
    </table>
</form>
</body>
</html>