<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item save</title>
</head>
<body>
<h1>Item Save</h1>

<h6><a href="/">main</a></h6>

<form method="POST" th:object="${item}">
    <table>
        <tr>
            <th>NAME</th>
            <td>
              <label>
                <input id="name" th:field="${item.name}" type="text">
              </label>
            </td>
        </tr>
        <tr>
            <th>PRICE</th>
            <td>
              <label>
                <input id="price" th:field="*{price}" type="number">
              </label>
            </td>
        </tr>
        <tr>
            <th>QUANTITY</th>
            <td>
              <label>
                <input id="quantity" th:field="*{quantity}" type="number">
              </label>
            </td>
        </tr>
        <tr>
            <th><input type="submit"></th>
            <td><input type="button" value="cancel" onclick="location.href='/'"></td>
        </tr>
    </table>
</form>
</body>
</html>
