<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item update</title>
</head>
<body>
<h1>Item Update</h1>

<h6><a href="/">main</a></h6>

<form method="POST" th:action="|/items/update/${item.id}|" th:object="${item}">
  <table>
    <tr>
      <th>ID</th>
      <td>
        <label>
          <input type="text" th:field="*{id}" readonly>
        </label>
      </td>
    </tr>
    <tr>
      <th>NAME</th>
      <td>
        <label>
          <input type="text" th:field="*{name}">
        </label>
      </td>
    </tr>
    <tr>
      <th>PRICE</th>
      <td>
        <label>
          <input type="number" th:field="*{price}">
        </label>
      </td>
    </tr>
    <tr>
      <th>QUANTITY</th>
      <td>
        <label>
          <input type="number" th:field="*{quantity}">
        </label>
      </td>
    </tr>
    <tr>
      <th><input type="submit" value="update"></th>
      <th><button onclick="@{|location.href='/items/*{id}'|}">cancel</button></th>
    </tr>
  </table>
</form>
</body>
</html>
