<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="|#{page.item-list} - message|">PRODUCT LIST</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th th:text="#{label.item.id}">ID</th>
    <th th:text="#{label.item.name}">NAME</th>
    <th th:text="#{label.item.price}">PRICE</th>
    <th th:text="#{label.item.quantity}">QUANTITY</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${items}">
    <td><a th:href="|/message/items/${item.id}|" th:text="${item.id}">ID</a></td>
    <td th:text="${item.name}">NAME</td>
    <td th:text="${item.price}">PRICE</td>
    <td th:text="${item.quantity}">QUANTITY</td>
  </tr>
  </tbody>
</table>
<div>
  <input type="button" th:value="#{button.register}" onclick="location.href='/message/items/register'">
</div>
</body>
</html>
